langchain
gpt4all
chromadb
llama-cpp-python
flask-socketio
urllib3
PyMuPDF
python-dotenv
unstructured
extract-msg
tabulate
pandoc
pypandoc
tqdm
sentence_transformers
flask
spacy
pypdf
pyap
gensim
pandas
openpyxl
langchainhub
