<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FWGS bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
</head>


<body>
    <!-- <div class="util-container">

        <button class="collapsible-button" onclick="toggleCollapsibleBox()">Toggle Source Documents</button>

        <div class="collapsible-box" id="source-documents">
            <h2>Source Documents:</h2>
            {% if documents %}
                {% for document in documents %}
                    <h3>{{ document.metadata.source }}</h3>
                    <p>{{ document.page_content }}</p>
                {% endfor %}
            {% else %}
                <p>No documents available.</p>
            {% endif %}
        </div>
    </div> -->

<div class="chat-container">
    <div class="chat-header">
        <h1>FWGS bot</h1>
        <div class="upload-button">
            <form action="/upload" method="post">
                <button type="submit">Upload documents</button>
            </form>
        </div>
    </div>

    <div class="chat-display" id="chat-display">
    </div>

    <form class="chat-form" id="chat-form" autocomplete="off" onsubmit="submitForm(event)">
        <input type="text" id="query" name="query" required>
        <button type="submit" id="ask-btn">Send</button>
    </form>
    
    <div class="warning">
        <p>Warning: Language models may produce false information.</p>
    </div>
</div>


    <script src="{{ url_for('static', filename='index_script.ts') }}"></script>
</body>
</html>